*{
    margin: 0;
    box-sizing: border-box;
}

#container{
display:flex;
justify-content: center;
}

#calculator-body{
    background-color: gray;
    border: 2px solid black;
    width: 400px;
    height: 600px;
    margin-top: 75px;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-auto-rows: 100px;

}

.screen-container{
    position: absolute;
    margin: auto;
    left: 0%;
    width: 100%;
    justify-self: center;
    height: 3rem;
    font-size: 25px;
}

.screen{
    position: absolute;
    margin: auto;
    top: 20px;
    left: 0%;
    width: 100%;
    justify-self: center;
    height: 2rem;
    background-color: rgb(243, 195, 123);
}

.screen-1{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0%;
    width: 100%;
    justify-self: center;
    height: 2rem;
    background-color: rgb(250, 158, 20);
    font-size: 16px;
}
button{
    height: 100px;
    width: 100px;
    margin-top: 5rem;
    font-size: 20px;
    cursor: pointer;
}
.span-two{
    grid-column:span 2;
}


