*{
    margin: 0;
    box-sizing: border-box;
}

#container{
display:flex;
justify-content: center;
}

#calculator-body{
    background-color: gray;
    border: 2px solid black;
    width: 400px;
    height: 600px;
    margin-top: 75px;
    position: absolute;
    display: grid;
    grid-template-columns:repeat(4, 1fr); 
    grid-auto-rows: 100px;

}

.screen{
    position: absolute;
    margin: auto;
    top: 30px;
    left: 0%;
    width: 100%;
    justify-self: center;
    height: 2rem;
    background-color: blanchedalmond;
}
button{
    height: 100px;
    width: 100px;
    margin-top: 5rem;
    font-size: 20px;
}


